* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 /* outline: solid thin red; */
}

body{
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

/* . to select class */
/* # to select id */

.Content{
  height: 80vh;
}

.BobaFindDiv{
  height: 20vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.BobaButton{
  width: 300px;
  height: 50px;
  font-size: 30px;
  border-radius: 12px;
  background-color: turquoise;
}