.ShopDetails{
    height: 40vh;
    display: flex;
    flex-direction: row;
}

.ShopImage{
    height: auto;
    width: 300px;
}

.ShopImage img{
    height: 100%;
    width: 100%;
}

.BobaRates, .BobaPrices{
    width: 30%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ShopRating_ShopPrice{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ShopInfo{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


/*.ShopName{
    font-size: 35px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ShopImage{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ShopDetails{
    height: 70vh;
    display: flex;
    flex-direction: row;
}

.BobaRate, .BobaPrice{
    width: 35px;
    height: 35px;
}

.BobaRates, .BobaPrices{
    width: 50%;
    margin: 20px;
}

.BobaRate{
    float: right;
}

.ShopDistance_TMT{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Center{
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
